<!-- **************** MAIN CONTENT START **************** -->

<main>
  <section class="p-0 d-flex align-items-center position-relative overflow-hidden">

    <div class="container-fluid" >
      <div class="row">
        <!-- left -->
        <div style="background-image:url('https://1.bp.blogspot.com/-RoOiYu8pweY/YGLZiX0bQ_I/AAAAAAAArE4/4AUbslYlESME_-arrxmvha763Te_jh1kwCNcBGAsYHQ/s0/ff99e81f59e3a9c02ff4f799f35cfc90.jpeg');align-items: center" class="col-12 col-lg-6 d-md-flex align-items-center justify-content-center bg-primary bg-opacity-10 vh-lg-100">
          <div class="p-3 p-lg-5" >
            <!-- Title -->
            <div class="text-center">
              <h1 class="fw-bold">𝓶𝓮𝓸𝔀 𝓶𝓮𝓸𝔀</h1>
            </div>
            <!-- SVG Image -->
            <img src="" class="mt-5" alt="">
            <!-- Info -->

          </div>
        </div>

        <!-- Right -->
        <div class="col-12 col-lg-6 m-auto" style="background-color: #f1aeb5">
          <div class="row my-5">
            <div class="col-sm-10 col-xl-8 m-auto">
              <!-- Title -->
              <p style="text-align: center"><span class="mb-0 fs-1" >👋</span></p>
              <h1 class="fs-2" style="text-align: center">Sign in !</h1>

              <!-- Form START -->
              <form [formGroup]="loginForm" (ngSubmit)="login()">

                <!-- Email -->
                <div class="mb-4">
                  <label  class="form-label">Tài khoản <span style="color: red">*</span></label>
                  <div class="input-group input-group-lg">
                    <span class="input-group-text bg-light rounded-start border-0 text-secondary px-3"><i class="bi bi-person"></i></span>
                    <input class="form-control border-0 bg-light rounded-end ps-1" formControlName="userName" placeholder="Tên người dùng hoặc email">
                  </div>
                  <p *ngIf="!loginForm.get('userName')?.valid && loginForm.get('userName')?.touched" style="color: red">Không được để trống</p>
                </div>
                <!-- Password -->
                <div class="mb-4">
                  <label  class="form-label">Mật khẩu <span style="color: red">*</span></label>
                  <div class="input-group input-group-lg">
                    <span class="input-group-text bg-light rounded-start border-0 text-secondary px-3"><i class="fas fa-lock"></i></span>
                    <input type="password" class="form-control border-0 bg-light rounded-end ps-1" formControlName="password" placeholder="Mật khẩu (Tối thiểu 6 kí tự)" >
                  </div>
                  <p *ngIf="!loginForm.get('password')?.valid && loginForm.get('password')?.touched" style="color: red">Không được để trống</p>
                </div>
                <p id="checkLogin" style="color: red " *ngIf="checkStatus == 2">Tài Khoản Bạn Đã Bị Khóa</p>
                <p id="checkUserName" style="color: red " *ngIf="checkStatus == 3 ">Sai Tài Khoản hoặc Mật Khẩu</p>
                <div class="align-items-center mt-0">
                  <div class="d-grid">
                    <button class="btn btn-primary mb-0" type="submit" style="background-color: purple">Đăng nhập</button>
                  </div>
                </div>
              </form>
              <!-- Form END -->

              <!-- Social buttons and divider -->
              <div class="row">
                <!-- Divider with text -->
                <div class="position-relative my-4">
                  <hr>
                  <p class="small position-absolute top-50 start-50 translate-middle bg-body px-5">Or</p>
                </div>

                <!-- Social btn -->
                <div class="col-xxl-6 d-grid">
                  <a href="#" class="btn bg-google mb-2 mb-xxl-0"><i class="fab fa-fw fa-google text-white me-2" ></i>Đăng nhập với  Google</a>
                </div>
                <!-- Social btn -->
                <div class="col-xxl-6 d-grid">
                  <a href="#" class="btn bg-facebook mb-0"><i class="fab fa-fw fa-facebook-f me-2"></i>Đăng nhập với Facebook</a>
                </div>
              </div>

              <!-- Sign up link -->
              <div class="mt-4 text-center">
                <span>Chưa có tài khoản ư? <a routerLink="/register">Đăng kí ngay thôi!</a></span>
              </div>
            </div>
          </div> <!-- Row END -->
        </div >
      </div> <!-- Row END -->
    </div>
  </section>
</main>
<!-- **************** MAIN CONTENT END **************** -->

<!-- Back to top -->
<div class="back-top"><i class="bi bi-arrow-up-short position-absolute top-50 start-50 translate-middle"></i></div>

<!-- Bootstrap JS -->
<script src="assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

<!-- Template Functions -->
<script src="assets/js/functions.js"></script>

