<main>
  <!-- Container START -->
  <div class="container">
    <div class="row justify-content-center align-items-center vh-100 py-5">
      <!-- Main content START -->
      <div class="col-sm-10 col-md-8 col-lg-7 col-xl-6 col-xxl-5">
        <!-- Sign up START -->
        <div class="card card-body rounded-3 p-4 p-sm-5">
          <div class="text-center">
            <!-- Title -->
            <h1 class="mb-2">Đăng ký tài khoản</h1>
            <span class="d-block">Bạn đã sẵn sàng đăng ký tài khoản?<a routerLink="/"> Đăng nhập</a></span>
          </div>
          <!-- Form START -->
          <form class="mt-4" [formGroup]="registerForm" (ngSubmit)="register()">
            <h5>Tên đăng nhập :</h5>
            <!-- User-->
            <div class="mb-3 input-group-lg">
              <input type="text" class="form-control" placeholder="Nhập tên tài khoản" formControlName="userName">
            </div>
            <p
              *ngIf="!registerForm.get('userName')?.invalid && registerForm.get('userName')?.touched">
            </p>
            <p style="color: red" *ngIf="registerForm.get('userName')?.errors?.['minlength']">
              Tên tài khoản phải ít nhất 6 kí tự
            </p>
            <p style="color: red" *ngIf="registerForm.get('userName')?.errors?.['maxlength']">
              Tên tài khoản tối đa 32 kí tự
            </p>
            <p id="checkUserName" style="color: red " *ngIf="!checkDuplicateUsername">Người dùng đã tồn tại</p>
            <!-- End User-->

            <!-- Password -->
            <div class="mb-3 input-group-lg">
              <h5>Mật khẩu :</h5>
              <input class="form-control fakepassword" type="password" id="psw-input" placeholder="Nhập mật khẩu"
                     formControlName="password">
            </div>
            <p
              *ngIf="!registerForm.get('password')?.invalid && (registerForm.get('password')?.dirty || registerForm.get('password')?.touched)">
            </p>
            <p style="color: red" *ngIf="registerForm.get('password')?.errors?.['minlength']">
              Mật khẩu phải có ít nhất 6 kí tự
            </p>
            <p style="color: red" *ngIf="registerForm.get('password')?.errors?.['maxlength']">
              Mật khẩu tối đa 32 kí tự
            </p>
            <!-- End password -->

            <!-- Confirm password -->
            <div class="mb-3 input-group-lg">
              <h5>Xác Nhận Mật khẩu :</h5>
              <input class="form-control" type="password" placeholder="Nhập lại mật khẩu"
                     formControlName="confirmPassword" (change)="checkConfirmPassword()">
              <div style="display: none;color: red" id="abc">
                <div>Mật khẩu nhập lại không đúng</div>
              </div>
            </div>
            <p
              *ngIf="!registerForm.get('confirmPassword')?.invalid && (registerForm.get('confirmPassword')?.dirty || registerForm.get('confirmPassword')?.touched)"></p>
            <p style="color: red" *ngIf="registerForm.get('confirmPassword')?.errors?.['minlength']">
              Xác nhận mật khẩu phải có ít nhất 6 kí tự
            </p>
            <p style="color: red" *ngIf="registerForm.get('confirmPassword')?.errors?.['maxlength']">
              Xác nhận mật khẩu tối đa 32 kí tự
            </p>
            <!-- End Confirm password -->

            <!-- Email -->
            <div class="mb-3 input-group-lg">
              <h5>Địa chỉ Email :</h5>
              <input type="email" class="form-control" placeholder="Nhập email" formControlName="email">
            </div>

            <p
              *ngIf="!registerForm.get('email')?.invalid && (registerForm.get('email')?.dirty || registerForm.get('email')?.touched)">
            <p style="color: red" *ngIf="registerForm.get('email')?.errors?.['required']">
            </p>
            <p style="color: red" *ngIf="registerForm.get('email')?.errors?.['email']">
              Email nhập không dúng định dạng
            </p>
            <p id="checkMail" style="color: red " *ngIf="!checkDuplicateMail">Email đã tồn tại</p>
            <!-- End Email -->

            <!-- Phone -->
            <div class="mb-3 input-group-lg">
              <h5>Số điện thoại :</h5>
              <input type="text" class="form-control" placeholder="Nhập số điện thoại"
                     formControlName="phoneNumber">
            </div>
            <div
              *ngIf="!registerForm.get('phoneNumber')?.invalid && (registerForm.get('phoneNumber')?.dirty || registerForm.get('phoneNumber')?.touched)">
              <div style="color: red" *ngIf="registerForm.get('phoneNumber')?.errors?.['required']">
                <div>Số điện thoại không được bỏ trống</div>
              </div>
            </div>
            <p style="color: red" *ngIf="registerForm.get('phoneNumber')?.errors?.['pattern']">
              Số điện thoại không đúng định dạng - 10 số
            </p>

            <!--End Phone -->

            <!--birthday -->
            <div class="mb-3 input-group-lg">
              <h5>Ngày sinh :</h5>
              <input type="date" class="form-control" id="datePickerId" formControlName="birthDay">
            </div>
            <div
              *ngIf="!registerForm.get('birthDay')?.invalid && (registerForm.get('birthDay')?.dirty || registerForm.get('birthDay')?.touched)">
              <div style="color: red" *ngIf="registerForm.get('birthDay')?.errors?.['required']">
                <div>Ngày sinh không được bỏ trống</div>
              </div>
            </div>
            <!--end birthday -->

            <!--fistName-->
            <div class="mb-3 input-group-lg">
              <h5>Tên người dùng :</h5>
              <input type="text" class="form-control" placeholder="Nhập Tên"
                     formControlName="fistName">
            </div>
            <!--end fistName-->

            <!--lastName-->
            <div class="mb-3 input-group-lg">
              <h5>Họ :</h5>
              <input type="text" class="form-control" placeholder="Nhập Họ"
                     formControlName="lastName">
            </div>
            <!--end lastName-->

            <!--gender-->
            <div class="mb-3 input-group-lg">
              <h5>Giới Tính :</h5>
              <select formControlName="gender" value="Giới tính">
                <option value="Nam">Nam</option>
                <option value="Nữ">Nữ</option>
                <option value="Con Cu Cong">Không muốn tiết lộ</option>
              </select>
<!--              <input type="text" class="form-control" placeholder="Nhập giới tính"-->
<!--                     formControlName="gender">-->
            </div>
            <!--end gender-->

            <!--address-->
            <div class="mb-3 input-group-lg" >
              <h5>Địa chỉ :</h5>
              <select formControlName="address">
                <option  value="An Giang">An Giang</option>
                <option  value="Bà Rịa-Vũng Tàu">Bà Rịa-Vũng Tàu</option>
                <option  value="Bạc Liêu">Bạc Liêu</option>
                <option  value="Bắc Kạn">Bắc Kạn</option>
                <option  value="Bắc Giang">Bắc Giang</option>
                <option  value="Bắc Ninh">Bắc Ninh</option>
                <option  value="Bến Tre">Bến Tre</option>
                <option  value="Bình Dương">Bình Dương</option>
                <option  value="Bình Định">Bình Định</option>
                <option  value=" Bình Phước"> Bình Phước</option>
                <option  value=" Bình Thuận"> Bình Thuận</option>
                <option  value=" Cà Mau"> Cà Mau</option>
                <option  value=" Cao Bằng"> Cao Bằng</option>
                <option  value=" Cần Thơ (TP)"> Cần Thơ (TP)</option>
                <option  value=" Đà Nẵng (TP)"> Đà Nẵng (TP)</option>
                <option  value=" Đắk Lắk"> Đắk Lắk</option>
                <option  value=" Đắk Nông"> Đắk Nông</option>
                <option  value=" Điện Biên"> Điện Biên</option>
                <option  value=" Đồng Nai"> Đồng Nai</option>
                <option  value=" Đồng Tháp"> Đồng Tháp</option>
                <option  value=" Gia Lai"> Gia Lai</option>
                <option  value=" Hà Giang"> Hà Giang</option>
                <option  value=" Hà Nam"> Hà Nam</option>
                <option  value=" Hà Nội (TP)"> Hà Nội (TP)</option>
                <option  value=" Hà Tây"> Hà Tây</option>
                <option  value=" Hà Tĩnh"> Hà Tĩnh</option>
                <option  value=" Hải Dương"> Hải Dương</option>
                <option  value=" Hải Phòng (TP)"> Hải Phòng (TP)</option>
                <option  value=" Hòa Bình"> Hòa Bình</option>
                <option  value=" Hồ Chí Minh (TP)"> Hồ Chí Minh (TP)</option>
                <option  value=" Hậu Giang"> Hậu Giang</option>
                <option  value=" Hưng Yên"> Hưng Yên</option>
                <option  value=" Khánh Hòa"> Khánh Hòa</option>
                <option  value=" Kiên Giang"> Kiên Giang</option>
                <option  value=" Kon Tum"> Kon Tum</option>
                <option  value=" Lai Châu"> Lai Châu</option>
                <option  value=" Lào Cai"> Lào Cai</option>
                <option  value=" Lạng Sơn"> Lạng Sơn</option>
                <option  value=" Lâm Đồng"> Lâm Đồng</option>
                <option  value=" Long An"> Long An</option>
                <option  value=" Nam Định"> Nam Định</option>
                <option  value=" Nghệ An"> Nghệ An</option>
                <option  value=" Ninh Bình"> Ninh Bình</option>
                <option  value=" Ninh Thuận"> Ninh Thuận</option>
                <option  value=" Phú Thọ"> Phú Thọ</option>
                <option  value=" Phú Yên"> Phú Yên</option>
                <option  value=" Quảng Bình"> Quảng Bình</option>
                <option  value=" Quảng Nam"> Quảng Nam</option>
                <option  value=" Quảng Ngãi"> Quảng Ngãi</option>
                <option  value=" Quảng Ninh"> Quảng Ninh</option>
                <option  value=" Quảng Trị"> Quảng Trị</option>
                <option  value=" Sóc Trăng"> Sóc Trăng</option>
                <option  value=" Sơn La"> Sơn La</option>
                <option  value=" Tây Ninh"> Tây Ninh</option>
                <option  value=" Thái Bình"> Thái Bình</option>
                <option  value=" Thái Nguyên"> Thái Nguyên</option>
                <option  value=" Thanh Hóa"> Thanh Hóa</option>
                <option  value=" Thừa Thiên – Huế"> Thừa Thiên – Huế</option>
                <option  value=" Tiền Giang"> Tiền Giang</option>
                <option  value=" Trà Vinh"> Trà Vinh</option>
                <option  value=" Tuyên Quang"> Tuyên Quang</option>
                <option  value=" Vĩnh Long"> Vĩnh Long</option>
                <option  value=" Vĩnh Phúc"> Vĩnh Phúc</option>
                <option  value=" Yên Bái"> Yên Bái</option>

              </select>

            </div>
            <!--end address-->

            <!-- Button -->
            <div class="d-grid">
              <button type="submit" [disabled]="!registerForm.valid" class="btn btn-lg btn-primary">Đăng ký</button>
            </div>
          </form>
        </div>
        <!-- Form END -->
      </div>
      <!-- Sign up END -->
    </div>
  </div> <!-- Row END -->
  <!-- Container END -->

</main>
