<!--<div class="container">-->
<!--  <div class="row justify-content-center align-items-center vh-100 py-5">-->
<!--    &lt;!&ndash; Main content START &ndash;&gt;-->
<!--    <div class="col-sm-10 col-md-8 col-lg-7 col-xl-6 col-xxl-5">-->
<!--      &lt;!&ndash; Sign up START &ndash;&gt;-->
<!--      <div class="card card-body rounded-3 p-4 p-sm-5">-->
<!--        <div class="text-center">-->
<!--          &lt;!&ndash; Title &ndash;&gt;-->
<!--          <h1 class="mb-2">ĐỔI MẬT KHẨU</h1>-->
<!--          <h3 class="mb-2" routerLink="/main">Back </h3>-->
<!--        </div>-->
<!--        &lt;!&ndash; Form START &ndash;&gt;-->
<!--        <form [formGroup]="changePasswordForm" (submit)="editPassword()">-->
<!--          &lt;!&ndash; User&ndash;&gt;-->

<!--          &lt;!&ndash; old Password &ndash;&gt;-->
<!--          <div class="mb-3 input-group-lg">-->
<!--            <input class="form-control fakepassword" type="password" id="psw-input1" placeholder="old Password"-->
<!--                   formControlName="oldPassword">-->
<!--          </div>-->
<!--          <p-->
<!--            *ngIf="!changePasswordForm.get('oldPassword')?.invalid && (changePasswordForm.get('oldPassword')?.dirty || changePasswordForm.get('oldPassword')?.touched)">-->
<!--          </p>-->
<!--          <p style="color: red" *ngIf="changePasswordForm.get('oldPassword')?.errors?.['minlength']">-->
<!--            Mật khẩu phải có ít nhất 6 kí tự-->
<!--          </p>-->
<!--          <p style="color: red" *ngIf="changePasswordForm.get('oldPassword')?.errors?.['maxlength']">-->
<!--            Mật khẩu tối đa 32 kí tự-->
<!--          </p>-->
<!--          <p id="checkUserName" style="color: red " *ngIf="!checkExistPassword">Password sai</p>-->
<!--          &lt;!&ndash; End old  password &ndash;&gt;-->


<!--          &lt;!&ndash; new Password &ndash;&gt;-->
<!--          <div class="mb-3 input-group-lg">-->
<!--            <input class="form-control fakepassword" type="password" id="psw-input2" placeholder="new Password"-->
<!--                   formControlName="newPassword">-->
<!--          </div>-->
<!--          <p-->
<!--            *ngIf="!changePasswordForm.get('newPassword')?.invalid && (changePasswordForm.get('newPassword')?.dirty || changePasswordForm.get('newPassword')?.touched)">-->
<!--          </p>-->
<!--          <p style="color: red" *ngIf="changePasswordForm.get('newPassword')?.errors?.['minlength']">-->
<!--            Mật khẩu phải có ít nhất 6 kí tự-->
<!--          </p>-->
<!--          <p style="color: red" *ngIf="changePasswordForm.get('newPassword')?.errors?.['maxlength']">-->
<!--            Mật khẩu tối đa 32 kí tự-->
<!--          </p>-->
<!--          &lt;!&ndash; End new password &ndash;&gt;-->
<!--          &lt;!&ndash;Check new pw va cf pw&ndash;&gt;-->
<!--          <div class="mb-3 input-group-lg">-->
<!--            <input class="form-control" type="password" placeholder="confirm New Password"-->
<!--                   formControlName="confirmNewPassword" (change)="checkConfirmPassword()">-->
<!--            <div style="display: none;color: red" id="abc">-->
<!--              <div>Mật khẩu nhập lại không đúng</div>-->
<!--            </div>-->
<!--          </div>-->

<!--          &lt;!&ndash; End Confirm password &ndash;&gt;-->

<!--          &lt;!&ndash; Button &ndash;&gt;-->
<!--          <div class="d-grid">-->
<!--            <button type="submit"  [disabled]="!changePasswordForm.valid" class="btn btn-lg btn-primary">Đổi Mật Khẩu</button>-->
<!--          </div>-->
<!--        </form>-->
<!--      </div>-->
<!--      &lt;!&ndash; Form END &ndash;&gt;-->
<!--    </div>-->
<!--    &lt;!&ndash; Sign up END &ndash;&gt;-->
<!--  </div>-->
<!--</div> &lt;!&ndash; Row END &ndash;&gt;-->
<!--&lt;!&ndash; Container END &ndash;&gt;-->

<form [formGroup]="changePasswordForm" (ngSubmit)="editPassword()">
  <!-- User-->
  <!-- old Password -->
    <input class="form-control fakepassword" type="password" id="psw-input1" placeholder="old Password"
           formControlName="oldPassword">
  <!-- new Password -->
    <input class="form-control fakepassword" type="password" id="psw-input2" placeholder="new Password"
           formControlName="newPassword">
    <button type="submit"  class="btn btn-lg btn-primary">Đổi Mật Khẩu</button>
</form>
