<div class="container">
  <div class="row justify-content-center align-items-center vh-100 py-5">
    <!-- Main content START -->
    <div class="col-sm-10 col-md-8 col-lg-7 col-xl-6 col-xxl-5">
      <!-- Sign up START -->
      <div class="card card-body rounded-3 p-4 p-sm-5">
        <div class="text-center">
          <!-- Title -->
          <h1 class="mb-2">ĐỔI MẬT KHẨU</h1>
          <h3 class="mb-2" routerLink="/main">Back </h3>
        </div>
        <!-- Form START -->
        <form class="mt-4" [formGroup]="changePasswordForm" (ngSubmit)="editPassword()">
          <!-- User-->


          <!-- old Password -->
          <div class="mb-3 input-group-lg">
            <input class="form-control fakepassword" type="password" id="psw-input1" placeholder="old Password"
                   formControlName="oldPassword">
          </div>
          <p
            *ngIf="!changePasswordForm.get('oldPassword')?.invalid && (changePasswordForm.get('oldPassword')?.dirty || changePasswordForm.get('oldPassword')?.touched)">
          </p>
          <p style="color: red" *ngIf="changePasswordForm.get('oldPassword')?.errors?.['minlength']">
            Mật khẩu phải có ít nhất 6 kí tự
          </p>
          <p style="color: red" *ngIf="changePasswordForm.get('oldPassword')?.errors?.['maxlength']">
            Mật khẩu tối đa 32 kí tự
          </p>
          <p id="checkUserName" style="color: red " *ngIf="!checkExistPassword">Password sai</p>
          <!-- End old  password -->


          <!-- new Password -->
          <div class="mb-3 input-group-lg">
            <input class="form-control fakepassword" type="password" id="psw-input2" placeholder="new Password"
                   formControlName="newPassword">
          </div>
          <p
            *ngIf="!changePasswordForm.get('newPassword')?.invalid && (changePasswordForm.get('newPassword')?.dirty || changePasswordForm.get('newPassword')?.touched)">
          </p>
          <p style="color: red" *ngIf="changePasswordForm.get('newPassword')?.errors?.['minlength']">
            Mật khẩu phải có ít nhất 6 kí tự
          </p>
          <p style="color: red" *ngIf="changePasswordForm.get('newPassword')?.errors?.['maxlength']">
            Mật khẩu tối đa 32 kí tự
          </p>
          <!-- End new password -->
          <!--Check new pw va cf pw-->
          <div class="mb-3 input-group-lg">
            <input class="form-control" type="password" placeholder="confirm New Password"
                   formControlName="confirmNewPassword" (change)="checkConfirmPassword()">
            <div style="display: none;color: red" id="abc">
              <div>Mật khẩu nhập lại không đúng</div>
            </div>
          </div>

          <!-- End Confirm password -->

          <!-- Button -->
          <div class="d-grid">
            <button type="submit" [disabled]="!changePasswordForm.valid" class="btn btn-lg btn-primary">Đổi Mật Khẩu</button>
          </div>
        </form>
      </div>
      <!-- Form END -->
    </div>
    <!-- Sign up END -->
  </div>
</div> <!-- Row END -->
<!-- Container END -->
