
<div id="fixNav">
  <nav class="navbar navbar-light bg-light justify-content-between">
    <p class="navbar-brand" type="button" (click)="mainView()">BackMain</p>
    <form class="form-inline">
      <div class="inputWithIcon">
        <tr>
          <td class="nav1">
            <input #input (change)="findByName(input.value)" class="form-control mr-sm-4" type="search" align="center" placeholder="Search" aria-label="Search">
          </td>
          <td class="nav1">
            <a type="button" class="btn btn-light position-relative" data-bs-toggle="collapse" href="#collapseExample"
               aria-expanded="false" aria-controls="collapseExample">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bell"
                   viewBox="0 0 16 16">
                <path
                  d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zM8 1.918l-.797.161A4.002 4.002 0 0 0 4 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4.002 4.002 0 0 0-3.203-3.92L8 1.917zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 1 1 1.99 0A5.002 5.002 0 0 1 13 6c0 .88.32 4.2 1.22 6z"/>
              </svg>
              <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
<!--                chỗ này để hiển thị số thông báo -->
    99+
    <span class="visually-hidden">unread messages</span>
  </span>
            </a>
            <div class="collapse" id="collapseExample">
              <div class="card card-body">
                Some placeholder content for the collapse component. This panel is hidden by default but revealed when
                the user activates the relevant trigger.
              </div>
            </div>

          </td>
          <td class="nav1">

            <img type="button" (click)="profileView()" class="img-xs rounded-circle"
                 src="../../../assets/pic/img.jpeg" alt="">

            <svg type="button" (click)="profileView()" xmlns="http://www.w3.org/2000/svg" width="25" height="25"
                 fill="currentColor" class="bi bi-file-earmark-person" viewBox="0 0 16 16">
              <path d="M11 8a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
              <path
                d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2zM9.5 3A1.5 1.5 0 0 0 11 4.5h2v9.255S12 12 8 12s-5 1.755-5 1.755V2a1 1 0 0 1 1-1h5.5v2z"/>
            </svg>
          </td>
        </tr>
      </div>
    </form>
  </nav>
</div>


<div class="container">
  <div class="btn-group dropup" id="messenger">
    <button type="button" class="btn " data-bs-toggle="dropdown" aria-expanded="false">
      <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-messenger"
           viewBox="0 0 16 16">
        <path
          d="M0 7.76C0 3.301 3.493 0 8 0s8 3.301 8 7.76-3.493 7.76-8 7.76c-.81 0-1.586-.107-2.316-.307a.639.639 0 0 0-.427.03l-1.588.702a.64.64 0 0 1-.898-.566l-.044-1.423a.639.639 0 0 0-.215-.456C.956 12.108 0 10.092 0 7.76zm5.546-1.459-2.35 3.728c-.225.358.214.761.551.506l2.525-1.916a.48.48 0 0 1 .578-.002l1.869 1.402a1.2 1.2 0 0 0 1.735-.32l2.35-3.728c.226-.358-.214-.761-.551-.506L9.728 7.381a.48.48 0 0 1-.578.002L7.281 5.98a1.2 1.2 0 0 0-1.735.32z"/>
      </svg>
    </button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="#">
        <img class="img-xs rounded-circle" src="https://bootdey.com/img/Content/avatar/avatar6.png" alt="">
        name user
      </a></li>
      <li><a class="dropdown-item" href="#">
        <img class="img-xs rounded-circle" src="https://bootdey.com/img/Content/avatar/avatar6.png" alt="">
        name user
      </a></li>
      <li><a class="dropdown-item" href="#">
        <img class="img-xs rounded-circle" src="https://bootdey.com/img/Content/avatar/avatar6.png" alt="">
        name user
      </a></li>
  <div class="btn-group dropup" id="messenger">
    <button type="button" class="btn " data-bs-toggle="dropdown" aria-expanded="false">
      <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-chat-dots"
           viewBox="0 0 16 16">
        <path d="M5 8a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm4 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
        <path
          d="m2.165 15.803.02-.004c1.83-.363 2.948-.842 3.468-1.105A9.06 9.06 0 0 0 8 15c4.418 0 8-3.134 8-7s-3.582-7-8-7-8 3.134-8 7c0 1.76.743 3.37 1.97 4.6a10.437 10.437 0 0 1-.524 2.318l-.003.011a10.722 10.722 0 0 1-.244.637c-.079.186.074.394.273.362a21.673 21.673 0 0 0 .693-.125zm.8-3.108a1 1 0 0 0-.287-.801C1.618 10.83 1 9.468 1 8c0-3.192 3.004-6 7-6s7 2.808 7 6c0 3.193-3.004 6-7 6a8.06 8.06 0 0 1-2.088-.272 1 1 0 0 0-.711.074c-.387.196-1.24.57-2.634.893a10.97 10.97 0 0 0 .398-2z"/>
      </svg>
    </button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="#">
        <img class="img-xs rounded-circle" src="https://bootdey.com/img/Content/avatar/avatar6.png" alt="">
        name user
      </a></li>
      <li><a class="dropdown-item" href="#">
        <img class="img-xs rounded-circle" src="https://bootdey.com/img/Content/avatar/avatar6.png" alt="">
        name user
      </a></li>
      <li><a class="dropdown-item" href="#">
        <img class="img-xs rounded-circle" src="https://bootdey.com/img/Content/avatar/avatar6.png" alt="">
        name user
      </a></li>

    </ul>
  </div>

  <div class="profile-page tx-13">

    <div class="row profile-body">
      <div class="d-none d-md-block col-md-4 col-xl-3 left-wrapper">
        <div class="card rounded" id="leftMain">
          <div class="card-body">


            <!--            trang cá nhân và trang chủ-->
            <div class="mt-3">
              <label class="tx-11 font-weight-bold mb-0 text-uppercase">Trang chủ </label>
              <br>

              <hr>
            </div>
            <div class="mt-3">

              <label (click)="profileView()" class="tx-11 font-weight-bold mb-0 text-uppercase" >Trang cá nhân</label>
              <p class="text-muted"></p>
              <hr>
            </div>


            <!--            mở rộng -->
            <div class="mt-3">
              <label class="tx-11 font-weight-bold mb-0 text-uppercase">Menu </label>
              <p class="text-muted"></p>
              <hr>
            </div>
            Meta © 2023

          </div>
        </div>
      </div>


      <!-- middle wrapper start -->

      <div class="col-md-12 col-xl-6 middle-wrapper">
        <div class="row">
          <div class="col-md-12">
            <div class="card rounded">
              <div class="card-header">
                <div class="d-flex align-items-center justify-content-between">
                  <div class="d-flex align-items-center">
                    <img class="img-xs rounded-circle" src="../../../assets/pic/img.jpeg" alt="">
                    <div class="ml-2">

                      <!--                      nhập trạng thái-->
                      <input readonly data-bs-target="#exampleModalToggle2" data-bs-toggle="modal" type="text"
                             class="form-control" id="formGroupExampleInput2" placeholder="Hôm nay bạn nghĩ gì">
                      <!--                      nhập trạng thái-->
                      <input data-bs-target="#exampleModalToggle2" data-bs-toggle="modal" type="text"
                             class="form-control" id="formGroupExampleInput2" placeholder="Hôm nay bạn nghĩ gì">

                    </div>
                  </div>
                </div>
                <hr>
                <button id="imgUp" type="button" class="btn p-0" data-bs-target="#exampleModalToggle2"
                        data-bs-toggle="modal">
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-image"
                       viewBox="0 0 16 16">
                    <path d="M6.002 5.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
                    <path
                      d="M2.002 1a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2h-12zm12 1a1 1 0 0 1 1 1v6.5l-3.777-1.947a.5.5 0 0 0-.577.093l-3.71 3.71-2.66-1.772a.5.5 0 0 0-.63.062L1.002 12V3a1 1 0 0 1 1-1h12z"/>
                  </svg>

                </button>
              </div>
            </div>
          </div>

          <!--modal bai viet-->
          <div class="modal fade" id="exampleModalToggle2" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2"
               tabindex="-1">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="exampleModalToggleLabel2">Tạo bài viết</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <div class="dropdown">
                    <div class="d-flex align-items-center">
                      <img class="img-xs rounded-circle" src="../../../assets/pic/img.jpeg"
                           alt="">
                      <div class="ml-2">
                        <div>
                          boy dep trai
                        </div>
                        <div class="btn-group">
                          <button type="button" class="btn p-0" data-bs-toggle="dropdown" aria-expanded="false">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"
                                 fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                 stroke-linejoin="round" class="feather feather-more-horizontal icon-lg pb-3px">
                              <circle cx="12" cy="12" r="1"></circle>
                              <circle cx="19" cy="12" r="1"></circle>
                              <circle cx="5" cy="12" r="1"></circle>
                            </svg>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-globe-central-south-asia" viewBox="0 0 16 16">
                              <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0ZM4.882 1.731a.482.482 0 0 0 .14.291.487.487 0 0 1-.126.78l-.291.146a.721.721 0 0 0-.188.135l-.48.48a1 1 0 0 1-1.023.242l-.02-.007a.996.996 0 0 0-.462-.04 7.03 7.03 0 0 1 2.45-2.027Zm-3 9.674.86-.216a1 1 0 0 0 .758-.97v-.184a1 1 0 0 1 .445-.832l.04-.026a1 1 0 0 0 .152-1.54L3.121 6.621a.414.414 0 0 1 .542-.624l1.09.818a.5.5 0 0 0 .523.047.5.5 0 0 1 .724.447v.455a.78.78 0 0 0 .131.433l.795 1.192a1 1 0 0 1 .116.238l.73 2.19a1 1 0 0 0 .949.683h.058a1 1 0 0 0 .949-.684l.73-2.189a1 1 0 0 1 .116-.238l.791-1.187A.454.454 0 0 1 11.743 8c.16 0 .306.084.392.218.557.875 1.63 2.282 2.365 2.282a.61.61 0 0 0 .04-.001 7.003 7.003 0 0 1-12.658.905Z"/>
                            </svg>
                          </button>

                          <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Công khai</a></li>
                            <li><a class="dropdown-item" href="#">Bạn bè </a></li>
                            <li><a class="dropdown-item" href="#">Chỉ mình tôi </a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                            placeholder="Username, đang nghĩ gì thế ?"></textarea>
                  <!--                  click vao de up anh-->
                  <textarea readonly class="form-control" rows="5">
                                          ---------
                    ------------Thêm ảnh------------
                                          ---------
                  </textarea>
                </div>
                <div class="themGido">
                  <div class="choiceBonus">
                    <td>
                      <p>Thêm vào bài viết của bạn</p>

                    </td>
                    <td>

                    </td>
                    <td>
                      <button type="button" class="btn btn-light position-relative">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             class="bi bi-image" viewBox="0 0 16 16">
                          <path d="M6.002 5.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
                          <path
                            d="M2.002 1a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2h-12zm12 1a1 1 0 0 1 1 1v6.5l-3.777-1.947a.5.5 0 0 0-.577.093l-3.71 3.71-2.66-1.772a.5.5 0 0 0-.63.062L1.002 12V3a1 1 0 0 1 1-1h12z"/>
                        </svg>
                      </button>

                    </td>

                  </div>

                </div>
                <div class="modal-footer">
                  <button class="btn btn-primary">Đăng</button>
                </div>
              </div>
            </div>
          </div>
          <!--modal bai viet-->

            <div class="modal fade" id="exampleModalToggle2" aria-hidden="true"
                 aria-labelledby="exampleModalToggleLabel2"
                 tabindex="-1">
              <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                  <form [formGroup]="createForm" (ngSubmit)="create()">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalToggleLabel2">Tạo bài viết</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <div class="dropdown">
                      <img class="img-xs rounded-circle" src="https://bootdey.com/img/Content/avatar/avatar6.png"
                           alt="">

                      <div class="btn-group">
                        <button type="button" class="btn p-0" data-bs-toggle="dropdown" aria-expanded="false">
                          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
                               stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                               class="feather feather-more-horizontal icon-lg pb-3px">
                            <circle cx="12" cy="12" r="1"></circle>
                            <circle cx="19" cy="12" r="1"></circle>
                            <circle cx="5" cy="12" r="1"></circle>
                          </svg>
                        </button>
                        <select class="dropdown-menu" formControlName="status">
                          <option class="dropdown-item" href="#" value="1">Công khai</option>
                          <option class="dropdown-item" href="#" value="2">Bạn bè </option>
                          <option class="dropdown-item" href="#" value="3">Chỉ mình tôi </option>
                        </select>
                      </div>
                    </div>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                              placeholder= "{{userName}}, đang nghĩ gì thế ?" formControlName="content"></textarea>
                  </div>
                  <div class="modal-footer">
                    <button class="btn btn-primary">Đăng</button>
                  </div>
                  </form>
                </div>
              </div>
            </div>


          <!--bai viet -->
          <div class="col-md-12 grid-margin" *ngFor="let s of statuses, index as i">
            <div class="card rounded">
              <div class="card-header">
                <div class="d-flex align-items-center justify-content-between">
                  <div class="d-flex align-items-center">
                    <img class="img-xs rounded-circle" src="https://bootdey.com/img/Content/avatar/avatar6.png" alt="">
                    <div class="ml-2">
                      <p>{{s.account.userName}}</p>
                      <p class="tx-11 text-muted">{{s.postDay}}</p>
                    </div>
                  </div>

                  <!--                  select status-->
                  <div class="dropdown">
                    <div class="btn-group">
                      <button type="button" class="btn p-0" data-bs-toggle="dropdown" aria-expanded="false">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                             stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                             class="feather feather-more-horizontal icon-lg pb-3px">
                          <circle cx="12" cy="12" r="1"></circle>
                          <circle cx="19" cy="12" r="1"></circle>
                          <circle cx="5" cy="12" r="1"></circle>
                        </svg>
                      </button>
                      <ul class="dropdown-menu">
                        <li>
                          <button class="dropdown-item" data-bs-target="#exampleModalToggle" data-bs-toggle="modal" (click)="showEdtit(s.id)">
                            Chỉnh sửa bài viết
                          </button>
                        </li>
                        <li>
                          <button class="dropdown-item" >Chỉnh sửa đối tượng</button>
                        </li>
                        <li>
                          <hr class="dropdown-divider">
                        </li>
                        <li><button class="dropdown-item" (click)="deleteEdit(s.id)">Chuyển vào thùng rác </button></li>
                      </ul>
                    </div>
                  </div>



                  <div class="modal fade" id="exampleModalToggle" aria-hidden="true"
                       aria-labelledby="exampleModalToggleLabel" tabindex="-1">

                    <div class="modal-dialog modal-dialog-centered">

                      <div class="modal-content">
                        <form [formGroup]="createForm" (ngSubmit)="edit(s.id)">
                        <div class="modal-header">
                          <h1 class="modal-title fs-5" id="exampleModalToggleLabel">Sửa bài viết</h1>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                          <div class="dropdown">
                            <img class="img-xs rounded-circle" src="https://bootdey.com/img/Content/avatar/avatar6.png"
                                 alt="">
                            <div class="btn-group">
                              <button type="button" class="btn p-0" data-bs-toggle="dropdown" aria-expanded="false">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"
                                     fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                     stroke-linejoin="round" class="feather feather-more-horizontal icon-lg pb-3px">
                                  <circle cx="12" cy="12" r="1"></circle>
                                  <circle cx="19" cy="12" r="1"></circle>
                                  <circle cx="5" cy="12" r="1"></circle>
                                </svg>
                              </button>
                              <select class="dropdown-menu" formControlName="status">
                                <option class="dropdown-item" href="#" value="1">Công khai</option>
                                <option class="dropdown-item" href="#" value="2">Bạn bè </option>
                                <option class="dropdown-item" href="#" value="3">Chỉ mình tôi </option>
                              </select>
                            </div>
                          </div>
                          <textarea class="form-control" id="exampleFormControlTextarea" rows="3"
                                    placeholder="" formControlName="content" ></textarea>
                        </div>
                        <div class="modal-footer">
                          <button class="btn btn-primary">Đăng</button>
                        </div>
                        </form>
                      </div>

                    </div>

                  </div>



                </div>
              </div>


              <div class="card-body">

                <!--                //noi dung cua bai viet -->


                <p class="mb-3 tx-14">{{s.content}}</p>
                <img class="img-fluid" src="https://bootdey.com/img/Content/avatar/avatar6.png" alt="">
              </div>
              <div class="card-footer">
                <div class="d-flex post-actions">
                  <a href="javascript:" class="d-flex align-items-center text-muted mr-4">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                         stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                         class="feather feather-heart icon-md">
                      <path
                        d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path>
                    </svg>
                    <p class="d-none d-md-block ml-2">Like</p>
                  </a>
                  <a href="javascript:" class="d-flex align-items-center text-muted mr-4">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                         stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                         class="feather feather-message-square icon-md">
                      <path d="M21 15a2 2 0 0 1-2 2H7l-4 4V5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2z"></path>
                    </svg>
                    <p class="d-none d-md-block ml-2">Comment</p>
                  </a>
                  <a href="javascript:" class="d-flex align-items-center text-muted">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                         stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                         class="feather feather-share icon-md">
                      <path d="M4 12v8a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2v-8"></path>
                      <polyline points="16 6 12 2 8 6"></polyline>
                      <line x1="12" y1="2" x2="12" y2="15"></line>
                    </svg>
                    <p class="d-none d-md-block ml-2">Share</p>
                  </a>
                </div>
              </div>
            </div>
          </div>


          <!-- middle wrapper end -->


          <!-- right wrapper start -->
          <div class="d-none d-xl-block col-xl-3 right-wrapper" id="rightMain">
            <div class="row">
              <div class="col-md-12 grid-margin">
                <div class="card rounded">
                  <div class="card-body">

                    <!--                người liên hệ user có thể chat luôn -->
                    <h6 class="card-title">Người liên hệ </h6>
                    <div class="d-flex justify-content-between mb-2 pb-2 border-bottom">
                      <div class="d-flex align-items-center hover-pointer">
                        <img class="img-xs rounded-circle" src="https://bootdey.com/img/Content/avatar/avatar2.png"
                             alt="">
                        <div class="ml-2">
                          <p>Mike Popescu</p>
                          <p class="tx-11 text-muted">12 Mutual Friends</p>
                        </div>
                      </div>

                    </div>


                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- right wrapper end -->
        </div>
      </div>
    </div>

<link rel="stylesheet" href="/assets/css/style.css">
<!--<script src="/assets/js/js.js"></script>-->


<!---->

